.tarjeta-detalles {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
}

.tarjeta-ciudad {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
}

.riesgo-alto {
    background-color: blue;
  }
  
  .riesgo-medio {
    background-color: green;
  }

.img{
    width: 50px;
    object-fit: contain;
}


.card-fixed {
  width: 300px;
}

#departamentos{
  border: black solid 1px;
  margin: 10px;
  padding: 30px;
  
 
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cajaInfo{
  border: black solid 1px;
  margin: 10px;
  padding: 30px;
}

#contenedorTabla{
  border: black solid 1px;
  
}

.imagen{
  padding: 10px;
  width: 400px;
}

#img{
  max-width: 800px;


}

#imgDet{
  width: 300px;

}